/* 
    Author: Vijay Thapa;
    Theme: Restaurant Food Order;
    version: 1.0;
*/

/* CSS for All */
*{
    
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    
}

a.no-drop {cursor: no-drop;}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: red;
    text-decoration: none;
}
a:hover{
    color: red;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: red;
    color: white;
    cursor: pointer;
    
}
.btn-primary1{
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 2%;
    
}
a.btn-stock{
    color: red;
    background-color: white;
    border-color: red;
    border: 0.5px solid red;
}

a.btn-primary1:hover{
    color: white;
}
.btn-primary:hover{
    color: white;
    background-color: red;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h2.search{
    color: white;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: -30px;
    left: 20%;
    transition: 0.5s;
    opacity: 0;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
    position: relative;
}
.menu ul li a:after {
     position: absolute;
        content: '';
        height: 2px;
          /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
        bottom: 7px; 


       /****** 
       optional values below 
       ******/
        
        /* center - (optional) use with adjusting width   */
        margin: 0 auto;
          left: 0;
        right: 0;
          width: 0%;
          background: red;
          
          /* optional animation */
          -o-transition:.5s;
          -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    
}
.menu ul li a:hover:after{
    width: 80%;
}




/* CSS for Search Section */

.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.food-search1{
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.text-overflow{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
   
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/* TESTING */

h4{
    position: relative;
    top: -20px;
}
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
  position: relative;
  top: 50px;
  
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel  button {
  position: relative;
  top: 30%;
  outline: none;
  background-color: red;
  cursor: pointer;
  color: white;

}
#top-sale .owl-carousel  button:hover{
    background-color: red;
}
#top-sale .owl-carousel button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

    
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");


/* CSS for Categories */
.categories{
    padding: 4% 0;


}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 5fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: red;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}

/* CSS FOR CART */



.box-3{
    width: 20%;
    float: left;
    margin: 2%;
    border: 1px solid whitesmoke;
    top: 15px;
}
.box-3 img{
    position: relative;
    top: 4px;

}
.box-3 :hover + .float-text{
    transition: 0.5s;
    bottom: 50px;
    opacity: 1;
}


/* CSS for Food Menu */
.food-menu h4{
    margin-top: 5%;
}
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */

.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){

    .btn-warning{
    margin-top: 20%;
}
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
        position: relative;
        right: 8%;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
}
        .footer{
            padding: 40px 0;
            background-color: #fff;
            position: absolute;
            top: 10px;
        }

        .footer .social{
            text-align: center;
            padding-bottom: 25px;
            color: #4b4c4d;   
        }
        .footer .social a{
            font-size: 24px;
            color: inherit;
            border: 1px solid #ccc;
            width: 40px;
            height: 40px;
            line-height: 38px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 8px;
            opacity: 0.75;
        }
        .footer .social a:hover {
            opacity: 0.9;    
        }
        .footer ul{
            margin-top: 0;
            padding: 0;
            list-style: none;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 0;
            text-align: center;
        }
        .footer ul li a{
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
        }
        .footer ul li{
            display: inline-block;
            padding: 0 15px;
        }
        .footer ul li a:hover{
            opacity: 1;
        }
        .footer .copyright{
            margin-top: 15px;
            text-align: center;
            font-size: 13px;
            color: #aaa;
        }

